

/* PRODUCT COMPONENT */

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3vh 0 10vh 0;
    height: 90vh;
    width: 85%;
    overflow: scroll;
    scrollbar-width: none;
}

.products-title-container {
    display: flex;
    justify-content: center; /* Center the title */
    margin-bottom: 20px; /* Add some space between title and products */
}

.products-content-container {
    display: flex;
    flex-wrap: wrap; /* Allow products to wrap to new rows */
    justify-content: center; /* Center the products horizontally */
}

.product-paper {
    width: calc(25% - 40px); /* 33.33% for each product with some margin */
    padding: 20px;
    margin: 20px;
    background-color: var(--highlight) !important;
    position: relative;
    cursor: pointer;
}

.product-paper:hover {
    /* background-color: var(--highlight-hover) !important; */
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

.price-container {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 25px; /* Adjust as needed */
    padding: 2px 15px;
    border-radius: 5px;
}

.add-to-cart-container {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 25px; /* Adjust as needed */
}

.add-to-cart-btn {
    color: #fff !important;
    background-color: var(--shadow) !important;
    z-index: 5 !important;
}


.add-to-cart-btn:hover {
    background-color: var(--accent-color) !important;
    transition: background-color 0.1s ease;
}


/* PRODUCT DETAILS */

.product-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    height: 75%;
    background-color: #fff  ;
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    border-radius: 25px;
    margin: 8vh 15vh 0 0;
    padding: 15px 10px;
}

.product-details-image-container {
    flex: 1;
    overflow: hidden;
    margin: 0 2vw;
}

.product-details-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px;
}

.product-details-back-btn {
    margin-bottom: 20px;
}

.product-details-cart-btn {
    margin-top: 20px;
    background-color: var(--shadow) !important;
}

.product-details-cart-btn:hover {
    background-color: var(--accent-color) !important;
    transition: background-color 0.1s ease;
}

